**/*/dist

src/conf/*
!src/conf/settings.py
!src/conf/options.py
!src/conf/templates/

# Definitions for tapis entities
definitions
**/*/definitions

# Setup script for dev env
setup.sh

# Text editors and IDEs
.vscode
.DS_Store

# Cached Python bytecode
**/*/__pycache__
