# Auth credentials
src/configs/*
!src/configs/settings.py
!src/configs/options.py

# Definitions for tapis entities
definitions
**/*/definitions

# Setup script for dev env
setup.sh

# Text editors and IDEs
.vscode
.DS_Store

# Cached Python bytecode
**/*/__pycache__
